%div
  .main.panel.section
    .header
      %h2 Resend confirmation instructions
    .body
      .group
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .form-group.inline
            = f.label :email
            = f.email_field :email, autofocus: true, :class => "input-text big"
          .form-submit.inline
            = f.submit "Resend confirmation instructions", :id => "submit-signup", :class => "input-submit"
        = render "users/shared/links"
