= form_for :idea, :url => ideas_path, do |f|
  #idea-title.form-group.inline
    = f.label :title, "Idea"
    = f.text_field :title, :example => "My ideas is...", :maxlength => 120, :id => "new-idea-title"
  #idea-description.form-group.inline
    = f.label :description, "Description"
    = f.text_area :description, :example => "It would be great if...", :id => "new-idea-description", :rows => "7", :columns => "20"
  #idea-tags.form-group.inline
    =
    = submit_tag 'Share my idea'
  %p
    %strong<>
      Remember, please keep it constructive!
