= form_for :idea, :url => ideas_path do |f|
  = f.hidden_field :owner_id, :value => current_user.id
  #idea-title.form-group.inline
    = f.label :title, "Idea"
    = f.text_field :title, :example => "My ideas is...", :maxlength => 120, :id => "new-idea-title"
  #idea-description.form-group.inline
    = f.label :description, "Description"
    = f.text_area :description, :example => "It would be great if...", :id => "new-idea-description", :rows => "7", :columns => "20"
  #idea-tags.form-group.inline
    = render :partial => 'tags/tag_editor', :locals => { :f => f }
    = submit_tag 'Share my idea', :class => 'input-submit'
  %p
    %strong<>
      Remember, please keep it constructive!
