%div
  %div= render :partial => 'votes/vote'
  %h= @idea.rating
  %h2= h @idea.title
  %p=    @idea.description
  %div
    %h5 Tags
    - @idea.tags.each do |tag|
      = render :partial => 'tags/tag', :locals => { :tag => tag }
  %div
    %h3 Comments
    %div= render :partial => 'comments/comment', :collection => @comments, :controller => 'comments'
    %div
      - if user_signed_in?
        %h4 Comment on this idea
        %div= render :partial => 'comments/new'
