.container-fluid
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .page-header
        %h1 Ideas

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %button.btn.btn-success{ 'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#new-idea-form' }
            %i.glyphicon.glyphicon-plus
            Create a new Idea

      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .collapse.out#new-idea-form
            .page-header
              %h2 New Idea
            = form_for @idea, class: 'form-inline', url: admin_ideas_path do |f|
              = render 'form', :locals => { :f => f }


%br
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .table-responsive
        %table.table.table-striped.table-hover
          %tr
            %th ID
            %th Owner
            %th Title
            %th Description
            %th Status
            %th Current
            %th Tags
            %th Manage

          - @ideas.each do |idea|
            %tr
              %td= idea.id
              %td= link_to "#{idea.owner.name}", user_profile_path(idea.owner)
              %td= link_to "#{idea.title}", idea_path(idea)
              %td= idea.description_excerpt(80)
              %th= idea.status
              %td
                - if idea.current
                  = link_to "#{idea.current.title}", current_path(idea.current)
              %td
                - idea.tags.each do |tag|
                  = render :partial => 'tags/tag', :locals => { :tag => tag }
              %td
                = link_to 'Edit', edit_admin_idea_path(idea)
                \|
                = link_to 'Delete', idea, :method => :delete, :data => { :confirm => 'Are you sure?' }
