= form_for @current do |f|
  - if @current.errors.any?
    #error_explanation
      %h2= "#{pluralize(@current.errors.count, "error")} prohibited this current from being saved:"
      %ul
        - @current.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
