!!! 5
%html
  %head
    %title== #{LONG_SITE_NAME} - Admin
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags

    - cache 'header' do
      %meta{ :content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }

  %body
    = render :partial => 'layouts/admin/header'
    %div.container{ style: 'padding-top: 50px;' }
      = render :partial => 'layouts/application/flash_messages'
      %div.col-lg-2.col-md-2.col-sm-2.col-xs-2
        =render :partial => 'layouts/admin/sidebar'
      %div.col-lg-10.col-md-10.col-sm-10.col-xs-10
        = yield

